@use '@/shared/styles/vars.scss';
html {
  scroll-behavior: smooth;
}
body {
  background: vars.$color_black;
  color: vars.$color_white;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: vars.$color_gray;

  &:hover {
    background-color: vars.$color_gray;
  }
}
